extends layout

block content
    nav.navbar.navbar-inverse

    h1 UFC Events

    .panel.panel-default.container-fluid
        .panel-body
            p Number of events
                span.badge= events.length
            form(name='downloadUfcData', method='post', action='/events')
                button.btn.btn-success(type="submit") Load events to database

            form(name='deleteUfcData', method='post', action='/events/delete')
                button.btn.btn-warning(type="submit") Remove events


    .list-group
        for ev in events
            span.list-group-item
                .centre-me
                    a(href="http://google.com")
                        h3.title.text-center #{ev.baseTitle} #{ev.titleTagLine}
                    p.text-center ID: #{ev._id}
                    p.text-center Status: #{ev.eventStatus}
                    p.text-center Date: #{ev.eventDate}
                    if ev.featureImageUrl
                        a(href="http://google.com") 
                            img(src="#{ev.featureImageUrl}", alt="image").center-block
