extends layout

block content


	.row.col.s12
		p Number of events
			span.badge= events.length
		form(name='downloadUfcData', method='post', action='/events')
			button.btn.btn-success(type="submit") Load events to database

		form(name='deleteUfcData', method='post', action='/events/delete')
			button.btn.btn-warning(type="submit") Remove events


	.row
		for ev in events
			.col.s6.offset-s3
				.card
					if ev.featureImageUrl
						.card-image
							img(src="#{ev.featureImageUrl}", alt="image").center-block
							span.card-title.card-panel
								a(href="http://google.com") #{ev.baseTitle} #{ev.titleTagLine}
					.card-content
						p.center-align ID: #{ev._id}
						p.center-align Status: #{ev.eventStatus}
						p.center-align Date: #{ev.eventDate}

