extends layout

block content

	nav(class="navbar navbar-inverse")

	h1.
		UFC Events 
	div(class="panel panel-default fluid-container")
		div(class="panel-body")
			p	Number of events 
				span(class="badge") #{ufcEventsArray.length}
				form#formUFCData(name="downloadUFCData", method="post", action="/addUFCData"  style="float:left")
					button#btnSubmmit(type="submit") Load events to database
				form#formUFCData(name="downloadUFCData", method="post", action="/deleteUFCData")
					button#btnSubmmit(type="submit") Delete events from database

	
	ul(class="list-group")
		each ufcevent in ufcEventsArray
			li(class="list-group-item")
					div(class="panel-body")
						h2 #{ufcevent.base_title} - #{ufcevent.title_tag_line}
						p event id: #{ufcevent._id}
						p Status: #{ufcevent.event_status}
						p date: #{ufcevent.event_date}
						img(src="#{ufcevent.feature_image}", alt="image")
						div(class="progress")
							div(class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%")
								span(class="sr-only") 40% Complete (success)

